name: Sync Labels
on:
  push:
    paths:
      - '.github/labels.yml'
jobs:
  sync-labels:
    runs-on: ubuntu-latest
    steps:
      - uses: crazy-max/ghaction-github-labeler@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          yaml_file: .github/labels.yml
